@import '~carbon-components/scss/globals/scss/styles.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


h1, h2, h3, h5, h6, p, ul, ol {
  margin: 1em 0;
}

/* general styling */

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

/* header style */

a.bx--header__name{
  font-size: 1.3rem;
}

.bx--header {
  background-color: #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
}

a.bx--header__name, a.bx--header__name:hover {
  color: #080808;
}

.bx--header__menu-trigger > svg {
    fill: #080808;
}

a.bx--side-nav__link > .bx--side-nav__link-text, .bx--side-nav a.bx--header__menu-item .bx--text-truncate-end{
  font-size: 1rem;
}

nav.auth-options {
  display: flex;
}

.bx--header__menu-trigger:hover{
  color: #525252;
}

.bx--header__action--active{
border-right: 1px solid #F4F4F4;
border-bottom: 1px solid #F4F4F4;
border-left: 1px solid #F4F4F4;
}

// form style

#form-btn {
  margin-top: 10px;
}

.bx--form__helper-text {
  margin-bottom: 10px;
}

#notificationDelete {
  display: none;
}

#notificationEdit {
  display: none;
}
